.card-carousel-frame {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.card-carousel {
  display: flex;
  gap: 10px;
  transition: transform .2s ease-in-out;
  width: 100%;
}

.temp-card {
  margin-right: 1rem;
}

.card-carousel-vignette {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}
