.card-carousel-frame {
  overflow: hidden;
  width: 100%;
  position: relative;
  padding: 0 1rem;
}

.card-carousel {
  display: flex;
  gap: 10px;
  transition: transform .2s ease-in-out;
  width: 100%;
}

.left-vignette-background,
.right-vignette-background {
  position: absolute;
  top: 0;
  width: 1rem;
  height: 100%;
  z-index: 5;
}

.left-vignette-background { left: 0; }

.right-vignette-background { right: 0; }


