main { padding-top: 3rem; }
body { background-color: #222426}

.movie-vignette {
    position: absolute;
    inset: 0;
    box-shadow: inset 0 0 5vh 5vh var(--dshade);
    z-index: 2;
    display: none;
}

.movie-poster-blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(0.9rem) brightness(50%);
    overflow: hidden;
}

.movie-main {
    min-width: 100%;
    display: flex;
    justify-content: center;
}

.movie-main img {
    height: 400px;
    width: auto;
    border-radius: var(--smallRounding);
    margin-right: var(--topSpacing);
    z-index: 10;
}

.movie-info {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: var(--midSpacing);
    z-index: 10;
}

.movie-plot { flex: 1; }

.movie-details { color: var(--gray) }

.movie-tabs {
    padding-left: var(--topSpacing);
    display: flex;
    user-select: none;
}

.movie-tab { 
    position: relative;
    padding: var(--midSpacing) var(--topSpacing);
    color: var(--font);
    cursor: pointer;
}

.movie-tab-active { 
    background-color: var(--dlightshade);
    border-radius: var(--midSpacing) var(--midSpacing) 0 0;
    color: var(--primary);
    font-weight: bold;
}

.movie-tab-bot {
    content: '';
    display: none;
    position: absolute;
    left: calc(-1 * var(--midSpacing));
    bottom: 0;
    width: calc(100% + calc( var(--midSpacing) * 2));
    background-color: var(--dlightshade);
    height: var(--midSpacing)
}
.movie-tab-active .movie-tab-bot { display: block; }

.movie-tab-bot:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--dshade);
    width: var(--midSpacing);
    height: var(--midSpacing);
    border-bottom-right-radius: var(--midSpacing);
}

.movie-tab-bot:after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    background-color: var(--dshade);
    width: var(--midSpacing);
    height: var(--midSpacing);
    border-bottom-left-radius: var(--midSpacing);
}

.movie-window {
    padding: var(--topSpacing);
    border-radius: var(--midSpacing);
    background-color: var(--dlightshade);
    display: none;
    flex-direction: column;
    gap: var(--midSpacing);
}
.movie-window.movie-tab-shown {
    display: flex;
}

.movie-profiles {
    display: flex;
    flex-wrap: wrap;
}

.movie-profile {
    padding: var(--midSpacing);
    border-radius: var(--midSpacing);
    background-color: var(--dlightshade);
    display: flex;
    align-items: center;
    overflow: hidden;
    max-width: 200px;
    flex: 0 1 200px;
}
.movie-profile p {
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.movie-profile img { width: 40px; height: 40px; border-radius: 3rem; margin-right: var(--midSpacing);}
.movie-profile:hover { background-color: var(--dark)}

@media (max-width: 720px) {
    .movie-main { flex-direction: column; align-items: center;}
    .movie-main img { height: 45%; width: auto; margin-bottom: var(--midSpacing)}
/*     body { background-color: #161616; } */
    .movie-vignette { display: block; }
}
  
@media (max-width: 480px) {
/*     body { background-color: #080808; } */
    .movie-main h1 { font-size: 2rem; }
}  