.movie-poster-blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(0.9rem) brightness(50%);
    overflow: hidden;
}

.movie-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 1rem; 
    margin-bottom: 2rem;
}

.movie-main {
    min-width: 100%;
    display: flex;
    justify-content: center;
}

.movie-main img {
    height: 25rem;
    width: auto;
    border-radius: var(--midSpacing);
    margin-right: var(--topSpacing);
    z-index: 10;
}

.movie-info {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: var(--midSpacing);
    z-index: 10;
}

.movie-plot { flex: 1; }

.movie-details { color: var(--gray) }

.movie-tabs {
    padding-left: var(--topSpacing);
    display: flex;
    user-select: none;
}

.movie-tab { 
    position: relative;
    padding: var(--midSpacing) var(--topSpacing);
    color: var(--font);
    cursor: pointer;
}

.movie-tab-active { 
    /* background-color: var(--col200); */
    border-radius: var(--midSpacing) var(--midSpacing) 0 0;
    color: var(--primary);
    font-weight: bold;
}

.movie-tab-bot {
    display: none;
    /* position: absolute; */
    position: relative;
    left: calc(-1 * var(--midSpacing));
    bottom: 0;
    width: calc(100% + calc( var(--midSpacing) * 2));
    /* background-color: var(--col200); */
    height: var(--midSpacing)
}
.movie-tab-active .movie-tab-bot { display: block; }

.movie-tab-bot-left {
    position: absolute;
    left: 0;
    top: 0;
    /* background-color: var(--col300); */
    width: var(--midSpacing);
    height: var(--midSpacing);
    border-bottom-right-radius: var(--midSpacing);
}

.movie-tab-bot-right {
    position: absolute;
    right: 0;
    top: 0;
    /* background-color: var(--col300); */
    width: var(--midSpacing);
    height: var(--midSpacing);
    border-bottom-left-radius: var(--midSpacing);
}

.movie-window {
    padding: var(--topSpacing);
    border-radius: var(--midSpacing);
    /* background-color: var(--col200); */
    display: none;
    flex-direction: column;
    gap: var(--midSpacing);
}
.movie-window.movie-tab-shown {
    display: flex;
}

.movie-profiles {
    display: flex;
    flex-wrap: wrap;
}

.movie-profile {
    padding: var(--midSpacing);
    border-radius: var(--midSpacing);
    /* background-color: var(--col200); */
    display: flex;
    align-items: center;
    overflow: hidden;
    max-width: 12.5rem;
    flex: 0 1 12.5rem;
}
.movie-profile p {
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.movie-profile img { width: 2.5rem; height: 2.5rem; border-radius: 3rem; margin-right: var(--midSpacing);}
/* .movie-profile:hover { background-color: var(--col)} */

.movie-rate-image { /* Limite la hauteur de l'image */
    display: flex;
    align-items: center;
    justify-content: center;
}

.movie-rate-image img {
    max-height: 3.125rem;
    width: auto;
    object-fit: contain;
}

.movie-rate-score {
    width: 100%;
    display: flex;
    gap: var(--lowSpacing);
    justify-content: center;
    align-items: end;
}
.movie-rate-onscore { color: var(--gray); line-height: 2}

@media (max-width: 720px) {
    .movie-main { flex-direction: column; align-items: center;}
    .movie-main img { height: 45%; width: auto; margin-bottom: var(--midSpacing)}
    .movie-vignette { display: block; }
}
  
@media (max-width: 480px) {
    .movie-main h1 { font-size: 2rem; }
}  

@font-face {
    font-family: 'Pridi';
    src: url('/1WEBD-jkodelm-mike/font/Pridi-Regular.ttf') format('ttf'),
         url('/1WEBD-jkodelm-mike/font/Pridi-Regular.ttf') format('tff');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Pridi';
    src: url('/1WEBD-jkodelm-mike/font/Pridi-Bold.ttf') format('ttf'),
         url('/1WEBD-jkodelm-mike/font/Pridi-Bold.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
  }