/* Later:
- Give color to classes for easier color changing*/

:root {
    --primary: #66d2c0;
    --darkprimary: #4ca89a;
    --secondary: #007ab5;

    --light: #fff;
    --lshade: #f0f0f0;
    --llightshade: #f8f8f8;

    --gray: #6a6a6a;

    --dark: #242424;
    --dlightshade: #181818;
    --dshade: #121212;

    --objectTransition: 200ms;
    --timeHeroAnimation: 400ms;
    --timeAutoSlide: 5000ms;

    --halfMainSpacing: .5rem;
    --mainSpacing: 1rem;
    --serapateSections: 4rem;
    --smallRounding: 5px;
    --icons: 2.5rem;

    --bigtitle: 2rem;
    --title: 1.5rem;
    --body: 1.125rem;
    --small: 0.875rem;
}

h1, h2, h3, h4, h5, h6 { margin: 0; text-decoration: none;}
h1 { font-size: 4rem;}
h2 { font-size: 2rem;}
h3 { font-size: 1.5rem;}
h4 { font-size: 1.125rem;}
h5 { font-size: 1rem;}
h6 { font-size: 0.875rem;}

body {
    margin: 0;
    font-family: "Pridi", sans-serif;
    background-color: var(--dshade);
    color: var(--light);
}

button {outline: 0; padding: 0; border: 2px solid transparent; background-color: inherit;}

.icon {
    width: 32px;
    height: 32px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: brightness(0) invert(1);
    transition: filter 0.2s ease;
}

.i-search { background-image: url('../svg/search.svg'); }
.i-account { background-image: url('../svg/account.svg'); }
.i-pause { background-image: url('../svg/pause.svg'); }
.i-play { background-image: url('../svg/play.svg'); }
.i-left { background-image: url('../svg/arrowl.svg'); }
.i-right { background-image: url('../svg/arrowr.svg'); }

button {
    min-width: 40px;
    min-height: 40px;
    cursor: pointer;
    border-radius: 100px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s ease;
}

.button-prim { background-color: var(--primary); border: 2px solid var(--primary); color: var(--light)}
.button-seco { background-color: var(--darkshade); border: 2px solid var(--primary); color: var(--primary)}

.button-prim:hover { border: 2px solid var(--darkprimary); background-color: var(--darkprimary) }
.button-seco:hover { border: 2px solid var(--darkprimary); }
.button-seco:hover .icon { filter: brightness(0) saturate(100%) invert(60%) sepia(45%) saturate(408%) hue-rotate(121deg) brightness(89%) contrast(94%); }
.button-tran:hover { background-color: var(--dark)}

.button-seco .icon,
.button-tran.active .icon,
.button-tran:hover .icon { filter: brightness(0) saturate(100%) invert(81%) sepia(48%) saturate(394%) hue-rotate(111deg) brightness(86%) contrast(89%); }

.side-padding { width: 70%; padding-left: 15%; padding-right: 15% }

nav {
    min-height: 3.5rem;
    background-color: var(--darkshade);
    display: flex;
    gap: var(--mainSpacing);
    align-items: center;
    margin-bottom: var(--mainSpacing);
}
  
.nav-right {
    margin-left: auto;
    display: flex;
    gap: var(--mainSpacing);
    padding: 10px 0;
}

.nav-search {
    display: flex;
    height: var(--icons);
    align-items: flex-end;
    gap: var(--halfMainSpacing);
    top: 0;
    left: 0;
    z-index: 5;
}

#nav-search-input {
    width: 10rem;
    height: var(--icons);
    background-color: var(--darklightshade);    
    border: 0;
    font-size: var(--title);
    color: var(--light);
    font-family: "Pridi", sans-serif;
    border-bottom: 2px solid var(--light);
    transition: width var(--objectTransition) ease;
}

.nav-search-deployed {
    width: 100%;
    background-color: red;
    position: absolute;
}
.nav-search-deployed #nav-search-input { flex: 1; display: block; }
.nav-search-deployed #nav-search-input { flex: 1; }

#nav-search-input:hover { width: 20rem }
  
.traversin {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
}
  
.traversin-top, .traversin-bottom {
    height: 2rem;
    width: 100%;
    background: var(--dark);
    clip-path: polygon(100% 0, 100% 100%, 0% 100%);
}
.traversin-bottom { clip-path: polygon(100% 0, 0 0, 0% 100%); }
.traversin-inside {
    background-color: var(--dark);
    height: 300px;
}
  
@media (max-width: 1080px) {
    .side-padding { width: 90%; padding-left: 5%; padding-right: 5% }
}
  
@media (max-width: 480px) {
    .side-padding { width: 100%; padding-left: 0; padding-right: 0; }
    .nav-right { gap: var(--halfMainSpacing);; padding: 10px 0; }
    #nav-search-input { display: none; }
    #nav-search-input:hover { width: 10rem }
    .traversin-top, .traversin-bottom { height: 1.5rem }
}  