:root {
    --primary: #66d2c0;
    --darkprimary: #4ca89a;
    --secondary: #007ab5;
    
    --gray: #808080;

    --botSpacing: .25rem;
    --midSpacing: .5rem;
    --topSpacing: 1rem;

    --serapateSections: 4rem;
    --button: 2.5rem;
    --border: 0.125rem;

    --objectTransition: 200ms;
    --timeHeroSlide: 400ms;
    --timeAutoSlide: 5000ms;
}

body {
    margin: 0;
    font-family: "Pridi", sans-serif;
    overflow-x: hidden;
    line-height: 1.5;
    font-size: 1rem;
}
input { border: 0;}

.col100 { background-color: #2c2e30; };
.col200 { background-color: #27292b; };
.col300 { background-color: #222426; };
.colFont { color: white; }
.icon, body.dark #nav-img { filter: brightness(0) invert(1) }
input { background-color: #222426; color: white; border-bottom: var(--border) solid white;}
.left-vignette-background.light { background: linear-gradient(90deg, #2c2e30 0, transparent 1rem); }
.right-vignette-background.light { background: linear-gradient(270deg, #2c2e30 0, transparent 1rem); }
.left-vignette-background { background: linear-gradient(90deg, #222426 0, transparent 1rem); }
.right-vignette-background { background: linear-gradient(270deg, #222426 0, transparent 1rem); }


body.light .col100 { background-color: white };
body.light .col200 { background-color: #f8f8f8 };
body.light .col300 { background-color: #f0f0f0 };
body.light .icon, body.light #nav-img { filter: brightness(0) }
body.light input { background-color: #f0f0f0; color: black; border-bottom: var(--border) solid black;}
body.light .left-vignette-background.light { background: linear-gradient(90deg, white 0, transparent 1rem); }
body.light .right-vignette-backgroun.lightd { background: linear-gradient(270deg, white 0, transparent 1rem); }
body.light .left-vignette-background { background: linear-gradient(90deg, #f0f0f0 0, transparent 1rem); }
body.light .right-vignette-background { background: linear-gradient(270deg, #f0f0f0 0, transparent 1rem); }

.colGray { background-color: var(--gray); }

h1, h2, h3, h4, p, h6 { margin: 0; padding: 0; text-decoration: none;}
h1 { font-size: 3rem; line-height: 1}
h2 { font-size: 2rem;}
h3 { font-size: 1.5rem;}
h4 { font-size: 1.125rem;}
p { font-size: 1rem}
h6 { font-size: 0.875rem;}

.hidden { display: none; }
a { text-decoration: none; cursor: pointer; color: inherit}
a:hover { text-decoration: underline; }
a:visited { color: inherit }
img { user-select: none;}
input { height: 2.5rem; font-family: "Pridi", sans-serif; font-size: 1.5rem; }

.flex { display: flex; }
.gapHMS { display: flex; gap: var(--midSpacing);}
.flex-wrap { display: flex; flex-wrap: wrap;}
.bot-mar-HMS { margin-bottom: var(--midSpacing) }
.overflowhidden { overflow: hidden; }
.button-pad { padding-left: var(--topSpacing); padding-right: var(--topSpacing);}
.space-between { display: flex; justify-content: space-between;}
.relative { position: relative; }

.icon {
    width: 2rem;
    height: 2rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /* transition: filter 0.2s ease; */
}


.i-account { background-image: url('../svg/account.svg'); }
.i-moon { background-image: url('../svg/moon.svg'); }
.i-sun { background-image: url('../svg/sun.svg'); }
.i-heart { background-image: url('../svg/heart.svg'); }
.i-open { background-image: url('../svg/open.svg'); }
.i-pause { background-image: url('../svg/pause.svg'); }
.i-play { background-image: url('../svg/play.svg'); }
.i-search { background-image: url('../svg/search.svg'); }
.i-left { background-image: url('../svg/arrowl.svg'); }
.i-right { background-image: url('../svg/arrowr.svg'); }
.i-longleft { background-image: url('../svg/arrowlongl.svg'); }
.i-longright { background-image: url('../svg/arrowlongr.svg'); }

button {
    outline: 0;
    padding: 0;
    border: var(--border) solid transparent;
    background-color: transparent;
    min-width: 2.5rem;
    min-height: 2.5rem;
    cursor: pointer;
    border-radius: 3rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color .2s ease, border .2s ease;
    font-family: "Pridi", sans-serif;
}

.button-prim { background-color: var(--primary); border: var(--border) solid var(--primary); color: var(--font); font-size: 1.5rem;}
.button-seco { background-color: var(--darkshade); border: var(--border) solid var(--primary); color: var(--primary)}
.button-text { padding: var(--topSpacing)}

.button-prim:hover { border: var(--border) solid var(--darkprimary); background-color: var(--darkprimary) }
.button-seco:hover { border: var(--border) solid var(--darkprimary); }
.button-seco:hover .icon { filter: brightness(0) saturate(100%) invert(60%) sepia(45%) saturate(408%) hue-rotate(121deg) brightness(89%) contrast(94%); }
/* .button-tran:hover { background-color: var(--col);} */

.button-seco .icon,
.button-tran.active .icon,
.button-tran:hover .icon { filter: brightness(0) saturate(100%) invert(81%) sepia(48%) saturate(394%) hue-rotate(111deg) brightness(86%) contrast(89%); }

.clamp-2 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}

.side-padding { width: 70%; padding-left: 15%; padding-right: 15% }

#overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    user-select: none;
}

.tag {
    display: flex;
    gap: var(--botSpacing);
    padding: 0 var(--midSpacing);
    border: var(--border) solid var(--font);
    border-radius: 1rem;
    user-select: none;
}
.tag .icon {
    width: 1.25rem;
    height: 1.25rem;
}

nav {
    min-height: 3.75rem;
    max-height: 3.75rem;
    display: flex;
    align-items: center;
    padding: 0 var(--topSpacing);
    position: relative;
}

#nav-img {
    height: 2.5rem;
}
  
.logo {
    width: 12.5rem;
    height: 3.75rem;
    background-color: purple;
}
  
.nav-right {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: var(--topSpacing);
}
  
.nav-search {
    display: flex;
    align-items: center;
    gap: var(--midSpacing);
    position: relative;
    transition: transform var(--objectTransition) ease;
    z-index: 10;
}

#nav-search-input { width: 10rem; }
#nav-search-input:focus { width: 20rem}

.nav-search.nav-search-deployed {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: var(--midSpacing);
    padding-bottom: var(--midSpacing);
    /* background-color: var(--col300); */
    z-index: 51;
}

.nav-search-deployed #nav-search-input { display: block; width: 0; outline: 0; flex: 1; }
.back-btn { display: block; }
.back-btn.hidden {  display: none; }

#nav-lower-frame {
    position: absolute;
    top: 3.75rem;
    z-index: 51;
    padding: 0;
}
#nav-search-results {
    width: auto;
    border: var(--border) solid var(--primary);
    border-radius: var(--topSpacing);
    overflow: hidden;
}

.nav-search-result {
    padding: var(--botSpacing) var(--botSpacing);
    display: flex;
    gap: var(--midSpacing);
    background-color: var(--var(--col300)); /* TO DO*/
    cursor: pointer;
    transition: background-color var(--objectTransition) ease;
}
.nav-search-result img { height: 4.375rem ; border-radius: var(--botSpacing);} /* 2 lines text*/
.nav-search-result:hover { background-color: var(--col); } /* TO DO*/

section { margin-bottom: var(--serapateSections); }

.hero-header, .top-section {
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 11;
    font-size: 2rem;
}

.traversin {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
}
  
.traversin-top, .traversin-bottom {
    height: 1rem;
    width: 100%;
    /* background: var(--col); */
    clip-path: polygon(100% 0, 100% 100%, 0% 100%);
}
.traversin-bottom { clip-path: polygon(100% 0, 0 0, 0% 100%); }
.traversin-inside {
    /* background-color: var(--col); */
    padding-top: var(--topSpacing);
    padding-bottom: var(--topSpacing);
} 
  
@media (max-width: 1080px) {
    .side-padding { width: 90%; padding-left: 5%; padding-right: 5%; height: auto;}
}

@media (max-width: 720px) {
    #nav-search-input:focus { width: 10rem}
}
  
@media (max-width: 480px) {
    .side-padding { width: calc(100% - 0.750rem); padding-left: 0.375rem; padding-right: 0.375rem; height: auto; }
    .nav-right { gap: var(--midSpacing); padding-top: 0.625rem; padding-bottom: 0.625rem; }
    #nav-search-input { display: none; }
}  